**/*__pycache__
**/*.pyc

# file with usernames and passwords
src/_secrets.py

# virtual environment for this project
.venv
venv

# stuff to deliver
payload
tmp

# webdrivers
bin
geckodriver.*
**/chromedriver*
